* {
    font-family: 'Roboto-Mono', monospace;
}

body {
    background-color: #555;
}

nav {
    display: flex;
}

.nav-menu {
    display: flex;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 240px 20px;
}

.nav-menu-item-link {
    text-decoration: none;
    font-size: 22px;
    color: #101010
}

#titulo-principal {
    color: black;
    font-size: 88px;
}